*.tmp
*.jbf

# EAGLE

*.b#1
*.b#2
*.b#3
*.b#4
*.b#5
*.b#6
*.b#7
*.b#8
*.b#9
*.s#1
*.s#2
*.s#3
*.s#4
*.s#5
*.s#6
*.s#7
*.s#8
*.s#9

# GERBER

*.GBL
*.GBO
*.GBS
*.gpi
*.dri
*.GTL
*.GTO
*.GTP
*.GTS
*.GM1
*.GBP
*.TXT

*.ZIP



############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


##############
## Sourceboost
##############
*.asm
*.brws
*.casm
*.cof
*.lst
*.map
*.obj
*.stat
*.tree
makefile.*
*.exe
*.pp
cv-strip.hex


*.dxf
*.odt#

old/*.*
Backup_of_*.cdr

cvocfg/node_modules
fascia/cvocd-fascia.kicad_pcb-bak
fascia/gerbers/cvocd-fascia-Edge_Cuts.gbr
fascia/gerbers/cvocd-fascia-F_Cu.gbr
fascia/gerbers/cvocd-fascia-F_SilkS.gbr
firmware/SourceImages/5.1_BETA/Release/*.*
firmware/SourceImages/5.2_BETA/Release/*.*
firmware/SourceImages/VERSION_5_RELEASE/Release/*.*
firmware.X/build
firmware.X/dist
firmware.X/.ca
/firmware_xc8/_build
/firmware_xc8/out
/asp_config/test
firmware_xc8/.vscode/cvocd_xc8.mplab-local.json
cvocd_banana/\#auto_saved_files\#
cvocd_banana/~cvocd_banana.kicad_pcb.lck
cvocd_banana_fascia/cvocd_banana_fascia/fp-info-cache
cvocd_banana_fascia/cvocd_banana_fascia/fp-lib-table
cvocd_banana_fascia/cvocd_banana_fascia/~cvocd_banana_fascia.kicad_pcb.lck
/cvocd_banana/gerber
/cvocd_banana_fascia/cvocd_banana_fascia/gerber
cvocd_banana/fp-info-cache
cvocd_banana/~$cvb_bom.xlsx
cvocd_banana/~cvocd_banana.kicad_sch.lck
docs/~$cking slip.docx
